﻿body {
	font-family: sans-serif;
	font-size: 1.1em;
}

.bold {
	font-weight: bold;
}

.green {
	background-color: #00B050;
}

.yellow {
	background-color: #FFC000;
}

.red{
	background-color: red;
}

.content {
	display: table-cell;
}

.outline {
	display: inline-block;
	border-top: 1px black solid;
	border-left: 3px black solid;
	padding: 8px;
	margin: 2px;
}

.buttons-confirm {
	float: right;
}

.button {
	display: inline-block;
	background-color: #D9D9D9;
	width: 100px;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	border: 2px #A6A6A6 solid;
	cursor: pointer;
}

.annotation {
	margin: auto;
	margin-bottom: 10px;
	border-left: 4px #1C625D solid;
	border-top: 2px #1C625D solid;
	background-color: #33938D;
	width: 160px;
}

.annotation p {
	padding: 1px;
	font-size: 0.4em;
	margin: 0;
	text-align: left;
}

.big-percentage {
	font-size: 3em;
	display: inline-block;
}

.summary {
	margin: 25px 0 0 0;
}

.arrow {
	margin: 0 0 25px 25px;
	position: relative;
	width: 200px;
	background-color: #242852;
	display: inline-block;
	color: white;
	line-height: 30px;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
}

.arrow:after {
	content: '';
	position: absolute;
	top: -13px;
	left: -25px;
	display: block;
	width: 0;
	height: 0;
    border-right: 25px solid #242852;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
}

th {
	font-weight: normal;
	font-size: 1.2em;
	background-color: #008080;
	color: white;
	padding: 2px 15px 2px 15px;
}

/* Header of Depth, Mechanic, Display, Products */
thead tr:nth-child(2) th:nth-child(n+2):nth-child(-n+5) {
	width: 80px;
}

td {
	text-align: center;
}

/* Uplift */
td:nth-child(1) {
	line-height: 80px;
	font-size: 3em;
	background-color: #E7EBEB;
}

/* Actualised promotion, Match % */
td:nth-child(n+6) {
	background-color: #E7EBEB;
	font-size: 1.7em;
}
