﻿@model Invest.NearestNeighbour.MVC.ViewModels.NearestNeighbourModel


<div class="outline">Uplift prediction (nearest neighbour)</div>
<div class="content">
    <table>
        <thead>
            <tr>
                <th></th>
                <th colspan="4">Relevant variables</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Uplift</th>
                @if (Model.Neighbours.Count() > 0)
                {
                    foreach (var promotion in Model.Neighbours.First().AttributeCollection.Keys)
                    {
                        <th>@promotion</th>
}
                }
                <th>Actualised promotion</th>
                <th>Match %</th>
            <tr>
        </thead>
        <tbody>
            @foreach (var promotion in Model.Neighbours)
            {
                <tr>
                    <td>@promotion.Uplift%</td>
                    @foreach (var attribute in promotion.AttributeCollection)
                    {
                        <td class="@attribute.Value.Distance">@attribute.Value.Value</td>
                    }
                    <td>
                        <div class="annotation">
                            @Html.Raw(promotion.PromoOverview)
                        </div>
                    </td>
                    <td>@promotion.MatchPercentage%</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="summary">
        <div class="big-percentage">@Model.UpliftPrediction%</div>
        <div class="arrow">Uplift prediction</div>
    </div>
    <div class="buttons-confirm">
        <div class="button">OK</div>
        <div class="button">Cancel</div>
    </div>
</div>

